<div class="container py-5">
    <div class="row">
        <div class="col-md-6
                    order-2
                    ps-0
                    pe-0">
                    <div class="jumbotron">
                        <h4 class="display-4 py-3 pb-lg-5 text-center">Education</h4>
                      </div>
            <education-timeline></education-timeline>
        </div>
        <div class="col-md-6
                    order-3
                    ps-0
                    pe-0
                    pb-3">
                    <div class="jumbotron">
                        <h4 class="display-4 py-3 pb-lg-5 text-center">Profession</h4>
                      </div>
            <work-timeline></work-timeline>
        </div>
    </div>
</div>