<!-- Section: Timeline
<section class="py-5">
    <ul class="timeline">
      <li class="timeline-item mb-5" *ngFor="let experience of experiences">
        <h5 class="fw-bold">Our company starts its operations</h5>
        <p class="text-muted mb-2 fw-bold">11 March 2020</p>
        <p class="text-muted">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit
          necessitatibus adipisci, ad alias, voluptate pariatur officia
          repellendus repellat inventore fugit perferendis totam dolor
          voluptas et corrupti distinctio maxime corporis optio?
        </p>
      </li>
    </ul>
  </section>
  Section: Timeline -->

  <section class="ms-3 me-3">
    <ul class="timeline">
      <li class="timeline-item mb-5">
        <h5 class="fw-bold">Master of Science in Information Systems</h5>
        <p class="text-muted mb-2 fw-bold">November 4th 2020 - November 4th 2021</p>
        <p class="text-muted">
          I'm gonna pre I'm gonna pre I'm gonna pre I'm gonna pre I'm gonna pre I'm gonna pre I'm gonna pre I'm gonna pre 
          I'm gonna pre I'm gonna pre I'm gonna pre I'm gonna pre I'm gonna pre I'm gonna pre I'm gonna pre I'm gonna pre
        </p>
      </li>
      <li class="timeline-item mb-3">
        <h5 class="fw-bold">Master of Science in Information Systems</h5>
        <p class="text-muted mb-2 fw-bold">November 4th 2020 - November 4th 2021</p>
        <p class="text-muted">
          I'm gonna pre I'm gonna pre I'm gonna pre I'm gonna pre I'm gonna pre I'm gonna pre I'm gonna pre I'm gonna pre 
          I'm gonna pre I'm gonna pre I'm gonna pre I'm gonna pre I'm gonna pre I'm gonna pre I'm gonna pre I'm gonna pre
        </p>
      </li>
    </ul>
  </section>