<divider
  sectionTitle="Devin Downs"
  sectionDescription="
      Hello! I am an aspiring Cloud Developer with a love of learning, problem solving, and building.
      My technology transformation begain in 2020, culminating with an MS in Information Systems.
      I am seeking employment as a full-time Cloud Developer.
  "
>
</divider>

<div class="container">
  <experience></experience>
</div>

<divider
  sectionTitle="Projects"
  sectionDescription="
      Click each project to view details and code repository
    "
>
</divider>

<div class="container">
  <project-view></project-view>
</div>

<divider
  sectionDescription="
      Thank you for visiting!
    "
>
</divider>