.fixed-bg {
  background-image: url("northern-lights.jpg");

  min-height: 40vh;
  width: 100vw;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;

}