/* You can add global styles to this file, and also import other style files */
.content-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(305px, 1fr));
    grid-gap: 15px;
  }
  .content-wrapper > .card img {
    max-width: 100%;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
